@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  background-color: #dddddd;
  font-family: Lato, sans-serif;
}

.avatar {
  height: 75px;
}

.fecha-superior {
  color: #777;
  font-size: 85%;
}

.titulo-proyecto {
  font-family: 'Mate SC', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #c00;
  border-bottom: 1px solid #888;
  margin-bottom: 15px;
}

.card-img {
  height: 200px;
  object-fit: cover;
}

.tarjeta {
  height: 100%;
}

.fecha-proyecto {
  color: #777;
  font-size: 70%;
}

